.newsImage {
    // width: 200px;   
    height: 90px;
}

// .button-modal {
//     width: 200px;
//     height: 200px;
// }

.modal-footer {
    border: 1px solid black;
    height: 120px;
}

.btn {
    border: none;
    // height: 100px;
}

a{
    cursor: pointer;
}