// .watchlist-container {
//     width: 55%;
// }

.emptyAlert {
    width: 80%;
}

h3 {
    width: 55%;
}
.card {
    height: 130px;
    cursor: pointer;
}

.closeIcon {
    height: 1px;
    width: 100px;
    cursor: pointer;
}
