// .button-modal-element {
//     height: 150px;
//     width: 750px;
// }

.image-container img {
    width: 75%;
    height: 90px;
}

.btn {
    background-color: rgb(249, 249, 249);
}

.summary {
    color: black;
}

